/* =========================
        Google font
========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0px;
}
/* =========================
        common style
========================== */
#top-section, #bottom-section{
    background-color: #F3F1FF;
    display: flex;
    justify-content: center;
}
.container{
    width: 870px;
    background-color: #FFFFFF;
    margin-top: 36px;
    border-radius: 5px;
    padding: 33px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
}

.top-player-thumbnail img{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.top-player-name{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-left: 16px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
    margin-top: 40px;
}
.top-player{
    display: flex;
    align-items: center;
}
.top-blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    grid-row-gap: 26px;
    padding-bottom: 7px;
}
.top-blog{
    display: flex;
}
.top-blog-thumbnail img{
    width: 224px;
    height: 127px;
}
.blog-details{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}
.blog-details p{
    font-size: 16px;
}
#bottom-section .container{
    margin-bottom: 28px;
}
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:24px;
    margin-top: 24px;
}
.course{
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 14px 14px 14px 14px;
    border-radius:5px;
}
.course-thumbnail {
    text-align: center;
}
.course-thumbnail img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 20px;
    color: #1E1E1E;
    font-weight: 500;
}
.course-author{
    color: #ED6B4F;
    font-size: 14px;
}

/* ======================
        Media Query
======================*/

@media only screen and (max-width:425px){
    .container{
        width:100%;
        padding: 10px;
    }
    .top-players, .top-blogs, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .top-player{
        align-items: center;
    }
    .top-blog{
        flex-direction: column;
    }
    .blog-details{
        margin-left: 0;
    }
    .courses{
        grid-column-gap:0px;
        grid-row-gap:15px;
    }
    .course{
        padding: 5px;
        border-radius:5px;
    }
}